
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.x.axis text {
  font-size: 20px;
}

.container {
  width: 80%;
  margin: 10px auto;
}

svg {
  display: block;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.item {
  padding: 5px 9px;
}

.item a {
  color: inherit;
  text-decoration: none;
}

.item a:hover {
  text-decoration: underline;
}

.item.button{
  background-color: #ececec;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 4px;
  cursor: pointer;
}

.item.button:hover {
  color: #e1e1e1;
  background-color: #999;
}

.title h1 {
  font-size: 50px;
  margin: 0;
}

.title {
  margin-bottom: 30px;
}

.title div {
  width: 40%;
}