@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


text.timeline {
  /* This value is the OPPOSITE color of our background */
  fill: black;
  mix-blend-mode: multiply;
}